<div class="col-12">
    <h2 class="text-primary text-center">Cancelled Order's</h2>
</div>
<div class="container rounded border p-3 m-2">
    <table id="tblData" class="table  table-active table-bordered table-striped">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Customer Name</th>
                <th>City</th>
                <th>State</th>
                <th>Postal code</th>
                <th>payment status</th>
                <th>OrderDate</th>
                <th>Order Status</th>
                <th>Phone Number</th>
                <th>Actions</th>
        </thead>
    </table>
</div>
@section scripts{
	<script src="~/js/canl.js"></script>
}

