
<div class="col-12">
    <h2 class="text-primary text-center">Pending Order's</h2>
</div>

<div class="container rounded border p-4 m-2">
    <table id="tblData" class="table  table-active table-bordered table-striped">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Customer Name</th>
                <th>payment status</th>
                <th>OrderDate</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>
@section scripts{
	<script src="~/js/pending.js"></script>
}