<h2 class="text-primary text-center">Order Details</h2>

<div class="rounded border p-2 m-2">
    <table id="tblData" class="table table-bordered  table-striped table-active">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
